---
import Section from '../Section.astro'
import LinkButton from '../LinkButton.astro'
import type { ProjectEntry } from '../../content/config'
import { slugify } from '../../utils/collections'
import Icon from '../Icon.astro'
import ProjectCard from './ProjectCard.astro'

export type Props = {
	projects: Array<ProjectEntry>
	amount?: number
}

const { projects, amount = 4 } = Astro.props;
---

{
	projects.length > 0 && (
		<Section title="Recent Projects">
			<ul class="grid grid-cols-1 gap-2 mt-4 sm:grid-cols-2">
				{projects.map((project, index) => {
					const { data } = project
					if (data.featured || index > amount) {
						return <></>
					}

					return (
						<li>
							<ProjectCard
								description={data.description}
								projectUrl={data.link}
								title={data.title}
								href={`/projects/${slugify(project)}`}
							/>
						</li>
					)
				})}
			</ul>
			{projects.length > amount && (
				<div class="my-2 text-center">
					<LinkButton href="/projects">
						All Projects
						<Icon class="inline-block text-xl" name="arrow-right" />
					</LinkButton>
				</div>
			)}
		</Section>
	)
}
