---
import Section from '../Section.astro'
import type { PostEntry } from '../../content/config'
import { slugify } from '../../utils/collections'
import PostCard from './PostCard.astro'

export type Props = {
	posts: Array<PostEntry>
}

const { posts } = Astro.props

const featuredPosts = posts.filter(({ data }) => data.featured);
---

{
	featuredPosts.length > 0 && (
		<>
			<Section title="Featured">
				<ul class="space-y-8">
					{featuredPosts.map((post) => {
						const { data } = post
						return (
						<li>
							<PostCard
								href={`/posts/${slugify(post)}`}
								title={data.title}
								description={data.description}
								publicatedAt={data.publicatedAt}
							/>
						</li>
					)
					})}
				</ul>
			</Section>
			<slot />
		</>
	)
}
