---
import { Card } from '../Card';
import Section from '../Section.astro';
import type { PostEntry } from '../../content/config';
import { slugify } from '../../utils/collections';

export type Props = {
	posts: Array<PostEntry>;
};

const { posts } = Astro.props;

const featuredPosts = posts.filter(({ data }) => data.featured);
---

{
	featuredPosts.length > 0 && (
		<>
			<Section title="Featured">
				<ul>
					{featuredPosts.map(({ data }) => (
						<Card
							href={`/posts/${slugify(data)}`}
							frontmatter={data}
							secHeading={false}
						/>
					))}
				</ul>
			</Section>
			<slot />
		</>
	)
}
