---
import type { PostEntry } from '../../content/config'
import { slugify } from '../../utils/collections'
import Icon from '../Icon.astro'
import LinkButton from '../LinkButton.astro'
import Section from '../Section.astro'
import PostCard from './PostCard.astro'

export type Props = {
	posts: Array<PostEntry>
	amount?: number
}

const { posts, amount = 4 } = Astro.props;
---

{
	posts.length > 0 && (
		<Section title="Recent Posts">
			<ul class="space-y-8">
				{posts.map((post, index) => {
					const { data } = post
					if (data.featured || index > amount) {
						return <></>
					}

					return (
						<li>
							<PostCard
								href={`/posts/${slugify(post)}`}
								title={data.title}
								description={data.description}
								publicatedAt={data.publicatedAt}
							/>
						</li>
					)
				})}
			</ul>
			<div class="my-2 text-center">
				<LinkButton href="/posts">
					All Posts
					<Icon class="inline-block text-xl" name="arrow-right" />
				</LinkButton>
			</div>
		</Section>
	)
}
