---
import { slugify, sortCollection } from '../../utils/collections'
import { getPosts } from '../../content/config'
import Header from '../../components/Header.astro'
import Section from '../../components/Section.astro'
import Layout from '../../layouts/Layout.astro'
import PostCard from '../../components/posts/PostCard.astro'

const posts = await getPosts()

const sortedPosts = sortCollection(posts)

---

<Layout>
	<Header activeNav="projects" />
	<main id="main-content">
		<Section title="All Posts">
			<ul>
				{sortedPosts.map((projects) => {
					const { data } = projects
					return (
						<li>
							<PostCard
								title={data.title}
								description={data.description}
								publicatedAt={data.publicatedAt}
								href={`/projects/${slugify(projects)}`}
							/>
						</li>
					)
				})}
			</ul>
		</Section>
	</main>
</Layout>
