@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
	html[data-theme-mode='dark'] #dark-icon {
		display: block;
	}
	html[data-theme-mode='dark'] #light-icon {
		display: none;
	}

	html[data-theme-mode='light'] #dark-icon {
		display: none;
	}

	html[data-theme-mode='light'] #light-icon {
		display: block;
	}

	body {
		@apply flex min-h-[100svh] flex-col font-mono text-base-content;
	}


	header {
		@apply px-4 sticky top-0 z-10 bg-base-100;
	}

	section,
	footer {
		@apply mx-auto max-w-3xl px-4 md:px-0;
	}

	a {
		@apply outline-2 outline-offset-1 outline-primary;
		@apply focus-visible:no-underline focus-visible:outline-dashed;
	}


	html {
		overflow-y: scroll;
	}

	code,
	blockquote {
		word-wrap: break-word;
	}

	pre > code {
		white-space: pre;
	}
}

@layer components {
	.entry-list .item a.title {
		@apply hover:underline focus-visible:no-underline focus-visible:underline-offset-0;
	}


	.prose {
		/* headings */
		@apply prose-headings:!mb-3
		prose-headings:!text-base-content 
    prose-h3:italic;

		/* links */
		@apply prose-a:!font-semibold
		prose-a:!text-base-content
		prose-a:!decoration-primary 
		prose-a:!decoration-dashed
		prose-a:underline-offset-8
		hover:prose-a:text-primary;

		/* list */
		@apply prose-ol:!text-base-content prose-ul:overflow-x-clip
		prose-ul:!text-base-content
		prose-li:marker:!text-primary
		prose-th:border;

		/* img */
		@apply prose-img:!mt-2 prose-img:border-2 prose-img:border-primary;

		/* table */
		@apply prose-table:text-base-content
		prose-th:border-accent prose-td:border 
    prose-td:border-accent prose-img:mx-auto;

		/* others */
		@apply prose-p:!text-base-content prose-blockquote:!border-l-primary 
    prose-blockquote:border-opacity-50 
		prose-blockquote:opacity-80
    prose-figcaption:!text-base-content 
    prose-figcaption:opacity-70 
    prose-strong:!text-base-content prose-pre:!text-base-content 
    prose-hr:!border-primary;
	}
	.prose a {
		@apply break-words hover:!text-primary;
	}

	.prose p,
	.prose li,
	.prose blockquote,
	.prose th,
	.prose td,
	.prose h1,
	.prose h2,
	.prose h3{
		/* code */
		@apply prose-code:rounded-md
		prose-code:border prose-code:border-secondary
		prose-code:border-opacity-50 prose-code:bg-base-200 prose-code:bg-opacity-100 prose-code:px-0.5 
		prose-code:!text-base-content prose-code:before:!content-[''] prose-code:after:!content-[''];
		
	}

	.prose thead th:first-child,
	tbody td:first-child,
	tfoot td:first-child {
		padding-left: 0.5714286em;
	}
	.prose h2#table-of-contents {
		@apply mb-2;
	}
	.prose details {
		@apply inline-block cursor-pointer select-none text-base-content;
	}
	
	.prose h2#table-of-contents + p {
		@apply hidden;
	}
}

@layer utilities {
	.flex-center {
		@apply flex items-center justify-center;
	}
}