---
import Footer from '../components/Footer.astro'
import Header from '../components/Header.astro'
import Heading from '../components/Heading.astro'
import Link from '../components/Link.astro'
import Layout from '../layouts/Layout.astro';
---

<Layout>
	<Header />
	<main id="main-content">
		<section class="bg-base-100">base-100</section>
		<section class="bg-base-200">base-200</section>
		<section class="bg-base-300">base-300</section>

		<section class="bg-primary">
			<div class="grid grid-cols-3">
				<span>primary</span>
				<span class="text-primary-content">content over primary</span>
			</div>
		</section>

		<section class="bg-primary-content">
			<div class="grid grid-cols-3">
				<span>primary-content</span>
				<span class="text-primary">primary over content</span>
			</div>
		</section>

		<section class="bg-secondary">secondary</section>
		<section class="bg-secondary-content">
			<div class="grid grid-cols-3">
				<span>secondary-content</span>
				<span class="text-secondary">secondary over content</span>
			</div>
		</section>

		<section class="bg-base-300 flex justify-center gap-2">
			<button class="btn btn-primary">click me!</button>
			<button class="btn btn-secondary">click me!</button>
		</section>

		<section class="text-left">
			<Heading level={1}>Heading 1</Heading>
			<Heading level={2}>Heading 2</Heading>
			<Heading level={3}>Heading 3</Heading>
			<Heading level={4}>Heading 4</Heading>
		</section>

		<section class="text-left">
			<Link href="google.com">Link</Link>
			<a class="link hover:link-hover" href="google.com">google</a>
		</section>
	</main>

	<Footer />
</Layout>

<style>
	@reference "../styles/base.css";

	section {
		@apply mt-2 py-2 text-center;
	}
</style>
