---
import Footer from '../components/Footer.astro'
import Header from '../components/Header.astro'
import Icon from '../components/Icon.astro'
import FeaturedPosts from '../components/posts/FeaturedPosts.astro'
import RecentPosts from '../components/posts/RecentPosts.astro'
import RecentProjects from '../components/projects/RecentProjects.astro'
import Socials from '../components/Socials.astro'
import { SOCIALS } from '../config'
import { getPosts, getProjects } from '../content/config'
import Layout from '../layouts/Layout.astro'
import { sortCollection } from '../utils/collections'

const posts = await getPosts()
const projects = sortCollection(await getProjects())

const sortedPosts = sortCollection(posts)

const socialCount = SOCIALS.filter((social) => social.active).length;
---

<Layout>
	<Header />
	<main id="main-content">
		<section class="mb-6">
			<h1 class="mt-2 mb-4 mr-2 inline-block text-3xl font-bold sm:mt-4 sm:mb-8 sm:text-5xl">
				Hi.👋
			</h1>
			<a
				target="_blank"
				href="/rss.xml"
				class="rss-link"
				aria-label="rss feed"
				title="RSS Feed"
			>
				<Icon class="inline-block text-3xl align-text-bottom text-primary" name="rss" />
			</a>

			<p class="my-2 text-xl">
				I'm Jose, a web developer from Guatemala 🇬🇹, I enjoy building useful
				apps and play with code.
			</p>
			{
				// only display if at least one social link is enabled
				socialCount > 0 && (
					<div class="mt-4 flex flex-col sm:flex-row sm:items-center">
						<div class="mb-1 mr-2 whitespace-nowrap sm:mb-0">Find me on:</div>
						<Socials />
					</div>
				)
			}
		</section>


		<RecentProjects projects={projects} />

		<FeaturedPosts posts={sortedPosts} />

		<RecentPosts posts={sortedPosts} />
	</main>

	<Footer />
</Layout>

