---
import { LOGO_IMAGE, SITE } from '../config';
import Hr from './Hr.astro';
import { Navbar } from './Navbar';

export type Props = {
	activeNav?: 'posts' | 'tags' | 'search' | 'projects';
};

const { activeNav } = Astro.props;
---

<header>
	<a
		id="skip-to-content"
		class="absolute -top-full left-16 z-50 bg-primary-content px-3 py-2 text-primary transition-all focus:top-4"
		href="#main-content">Skip to content</a
	>
	<div
		class="nav-container mx-auto flex max-w-3xl flex-col items-center justify-between sm:flex-row"
	>
		<div
			class="relative flex w-full items-start justify-between p-4 sm:items-center sm:py-8"
		>
			<a
				href="/"
				class="absolute whitespace-nowrap py-1 text-xl font-semibold sm:static sm:text-2xl"
			>
				{
					LOGO_IMAGE.enable ? (
						<img
							src={`/assets/${LOGO_IMAGE.svg ? 'logo.svg' : 'logo.png'}`}
							alt={SITE.title}
							width={LOGO_IMAGE.width}
							height={LOGO_IMAGE.height}
						/>
					) : (
						SITE.title
					)
				}
			</a>
			<Navbar activePage={activeNav} />
		</div>
	</div>
	<Hr />
</header>

<style></style>

<script>
	function toggleNav() {
		// Toggle menu
		const menuBtn = document.querySelector('.hamburger-menu');
		const menuItems = document.querySelector('#menu-items');

		menuBtn?.addEventListener('click', () => {
			const menuExpanded = menuBtn.getAttribute('aria-expanded') === 'true';
			menuBtn?.classList.toggle('active');
			menuBtn.setAttribute('aria-expanded', menuExpanded ? 'false' : 'true');
			menuBtn.setAttribute(
				'aria-label',
				menuExpanded ? 'Open Menu' : 'Close Menu',
			);
			menuItems?.classList.toggle('hidden');
		});
	}

	toggleNav();

	// Runs on view transitions navigation
	document.addEventListener('astro:after-swap', toggleNav);
</script>
