---
import { SOCIALS } from '../config'
import Icon from './Icon.astro'

---

<div class="flex-wrap flex justify-center items-center gap-2">
	{
		SOCIALS.filter((social) => social.active).map((social) => {
			return (
			<a
				href={social.href}
				class="inline-block hover:rotate-6 text-secondary"
				title={social.linkTitle}
			>
					<Icon name={social.icon} class="w-6 h-6" />
				</a>
			)
		})
	}
</div>
