---
import Icon from './Icon.astro'

export type Props = {
	name: string
	size?: 'sm' | 'lg'
}

const { name, size = 'sm' } = Astro.props
const lowerCaseName = name.toLowerCase()

---

<li
	class="inline-block"
	class:list={{
		'my-1 underline-offset-4': size === 'sm',
		'my-3 mx-1 underline-offset-8': size === 'lg',
	}}
>
	<a
		href={`/tags/${lowerCaseName}`}
		transition:name={lowerCaseName}
		class:list={{
			'text-sm': size === 'sm',
			'text-lg': size === 'lg',
		}}
		class="pr-2 relative underline decoration-dashed focus-visible:p-1 hover:decoration-2 hover:text-primary"
	>
		<Icon name="hash" class="inline-block" /><span>{lowerCaseName}</span>
	</a>
</li>

