---
import { slugify, sortCollection } from '../../utils/collections'
import { getProjects } from '../../content/config'
import Header from '../../components/Header.astro'
import Section from '../../components/Section.astro'
import Layout from '../../layouts/Layout.astro'
import ProjectCard from '../../components/projects/ProjectCard.astro'

const projects = await getProjects()

const sortedProjects = sortCollection(projects)

---

<Layout>
	<Header activeNav="projects" />
	<main id="main-content">
		<Section title="All Projects">
			<ul class="grid grid-cols-1 gap-2 mt-4 sm:grid-cols-2">
				{sortedProjects.map((projects) => {
					const { data } = projects
					return (
						<li>
							<ProjectCard
								description={data.description}
								projectUrl={data.link}
								title={data.title}
								href={`/projects/${slugify(projects)}`}
							/>
						</li>
					)
				})}
			</ul>
		</Section>
	</main>
</Layout>
