---
import { SITE } from '../../config';
import getPageNumbers from '../../utils/getPageNumbers';
import { slugify, sortCollection } from '../../utils/collections';
import { getProjects } from '../../content/config';
import Header from '../../components/Header.astro';
import Section from '../../components/Section.astro';
import Layout from '../../layouts/Layout.astro';
import { EntryList, ProjectItem } from '../../components/EntryList';

const projects = await getProjects();

const sortedProjects = sortCollection(projects);

// TODO: Implement pagination
const totalPages = getPageNumbers(sortedProjects.length);

const paginatedProjects = sortedProjects.slice(0, SITE.itemPerPage);
---

<Layout>
	<Header activeNav="projects" />
	<main id="main-content">
		<Section title="All Projects">
			<EntryList className="grid grid-cols-1 gap-2 sm:grid-cols-2">
				{
					paginatedProjects.map(({ data }) => {
						return (
							<ProjectItem
								className="col-span-1"
								href={`/projects/${slugify(data)}`}
								frontmatter={data}
								sectionHeading={false}
							/>
						);
					})
				}
			</EntryList>
		</Section>
	</main>
</Layout>
